<!DOCTYPE html>
<meta http-equiv="refresh" content="1">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loc.css')}}">
<script>var data = {{klist|tojson}}</script>
<script src="{{url_for('static', filename='addloc.js')}}"></script>
<div style='position:relative' id='map'>
    <img src="{{url_for('static', filename='map.jpg')}}" style="width:70%; height:70%;">
</div>
<script>addDot(data)</script>
<table class="table" align="l">
    <thead>
        <tr>
            <th>ID</th>
            <th>X좌표</th>
            <th>Y좌표</th>
            <th>배터리</th>
            <th>사용 여부</th>
        </tr>
    </thead>

    {% for v in klist %}
    <tbody>
        <tr>
        <td>{{v[0]}}</td>
        <td>{{v[1]}}</td>
        <td>{{v[2]}}</td>
        <td>{{v[3]}}</td>
        <td>{{v[4]}}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>