<!DOCTYPE html>
<meta http-equiv="refresh" content="1">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loc.css')}}">
<link href="{{url_for('static', filename='sigma.css')}}"rel="stylesheet">
<script>var data = {{klist|tojson}}</script>
<script src="{{url_for('static', filename='addloc.js')}}"></script>
<div style='position:relative; float:left' id='map'>
    <img src="{{url_for('static', filename='map.jpg')}}" style="width:70%; height:70%;">
</div>
<script>addDot(data)</script>

<div role="region" aria-label="data table" tabindex="0" class="primary" style="float:left">
    <table>
        <thead>
            <tr>
                <th class="pin">예약</th>
                <th scope="col">id</th>
                <th scope="col">battery</th>
                <th scope="col">free</th>
            </tr>
        </thead>

        {% for v in klist %}
        <tbody>
            <tr>
                <th scope="row">
                    <div>
                        <input type="button" value="{{ loop.index0 + 1 }}">
                    </div>
                </th>
            <td>{{v[0]}}</td>
            <td>{{v[3]}}</td>
            <td>{{v[4]}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>