<!DOCTYPE html>
<meta http-equiv="refresh" content="1">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loc.css')}}">
<link href="{{url_for('static', filename='sigma.css')}}"rel="stylesheet">

<script>
    var nowkickid = 0
    function submitkick(nowkick, id, form_id) {
        document.getElementById(form_id).x.value=350;
        document.getElementById(form_id).y.value=150;
        document.getElementById(form_id).kickid.value=id;
        document.getElementById(form_id).type.value=nowkick;

        nowkickid = id
        document.getElementById(form_id).submit();
    }

    function get_nowkick() {
        const url = new URL(window.location.href)
        return url.searchParams.get('nowkick')
    }
</script>

<script>var data = {{klist|tojson}}</script>
<script src="{{url_for('static', filename='addloc.js')}}"></script>
<h2>현 킥보드 위치</h2>
<div style='position:relative; float:left' id='map'>
    <img src="{{url_for('static', filename='map.jpg')}}" style="width:70%; height:70%;">
</div>
<script>addDot(data)</script>

<body>
<div role="region" aria-label="data table" tabindex="0" class="primary" style="float:left">
    <form action="/chkick" method="post" id="kickform">
        <input type="hidden" name="x">
        <input type="hidden" name="y">
        <input type="hidden" name="kickid">
        <input type="hidden" name="type">
        <table>
        <thead>
            <tr>
                <th class="pin">예약</th>
                <th scope="col">ID</th>
                <th scope="col">배터리</th>
            </tr>
        </thead>

        {% for v in klist %}
        <tbody>
            <tr>
                <th scope="row">
                    <div>
                        <input type="button" value="{{ loop.index0 + 1 }}" onclick="submitkick('T', {{v[0]}}, 'kickform')">
                    </div>
                </th>
            <td>{{v[0]}}</td>
            <td>{{v[3]}}</td>
            </tr>
        </tbody>
        {% endfor %}
        </table>
        <!-- <button type="submit"  onclick="submitkick('F', get_nowkick())">반환</button> -->
    </form>
</div>
<div style = "float:right">
    <form action="/chkick" method="post" id="kickform2">
        <input type="hidden" name="x">
        <input type="hidden" name="y">
        <input type="hidden" name="kickid">
        <input type="hidden" name="type">
        <button class= "custom-btn btn-4" type="submit"  onclick="submitkick('F', get_nowkick(), 'kickform2')">반환</button>
    </form>
</div>
