<!DOCTYPE html>
<meta http-equiv="refresh" content="1">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loc.css')}}">
<link href="{{url_for('static', filename='sigma.css')}}"rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
    </style>
<script>var data = {{klist|tojson}}</script>
<script src="{{url_for('static', filename='addloc.js')}}"></script>

<script>
    function submitlocation() {
        document.getElementById('locform').x.value={{x}};
        document.getElementById('locform').y.value={{y}};
        document.getElementById('locform').submit();
    }
</script>
<div id="idx-top"></div>
<h2 class="bold">현 킥보드 위치</h2>
<div style='position:relative;float:left' id='map'>
    <img src="{{url_for('static', filename='map.jpg')}}">
</div>
<script>addDot(data)</script>

<form action="/uiresult" method="post" id="locform">
    <input type="hidden" name="x">
    <input type="hidden" name="y">
    <input type='button' class="button" value='내 주변 킥보드 찾기' onclick=submitlocation()>
</form>